.subDisplay-container
  width: 100%
  height: 720px
  border: 1px solid #aaa
  border-radius: 3px
  margin-bottom: 8px
  .subDisplay-text-container
    width: 100%
    height: 130px
    padding: 8px
    display: flex
    .subDisplay-text-item
      flex: 1
    .subDisplay-empty
      border: 0.5px dashed #aaa
  .subDisplay-controller-container
    width: 100%
    height: 48px
    border-top: 1px solid #aaa
    border-bottom: 1px solid #aaa
  .subDisplay-content-container
    width: 100%
    height: calc(100% - 48px - 130px)

